<div class="main__container">
    <div class="signup-card">

        <main class="signup-content">
            <span class="signup-header">Registrarse</span>
            <!-- signup form -->

            <form class="signup-form" (ngSubmit)="signup($event)" #authform="ngForm">
                <input ngModel type="email" autofocus placeholder="Email" name="email" class="signup-input" required>
                <input ngModel type="password" placeholder="Contraseña" name="password" class="signup-input" minlength="6" required>
                <input type="submit" name="submit" value="Registrar" class="signup-btn" [class.btn-disabled]="!authform.form.valid" [disabled]="!authform.form.valid">
            </form>
            <div class="login-link-wrapper">
                <span class="login-notice">¿Ya tienes una cuenta?</span>
                <a class="login-link" routerLink="/login">Ingresar</a>
            </div>

        </main>

        <!-- linking to signup -->
        <aside class="signup-aside">
            <div class="signup-aside-overlay"></div>
            <h1 class="signup-welcome-text">Unirse Minimus hoy!</h1>
            <hr class="signup-aside-hr">
        </aside>
    </div>
</div>

<app-error [message]="errorMessage"></app-error>